.tooltip {
  position: relative;
  display: inline-block;
}

.konten {
  padding: 0px;
  background-color: rgba(6, 131, 229, 0.6);
  text-align: center;
  margin: 0px 35%;
  margin-top: 15%;
  border-radius: 10px;
  padding: 10px 0px 50px 0px;
  box-shadow: 2px 2px 4px #000000;
}

button {
  border-radius: 5px;
  background-color: #ECECEC;
  font-size: 20px;
}

button:hover {
  background-color: #CBCBCB;
  font-weight: bold;
  box-shadow: 2px 2px 4px #000000
}

p {
  color: white;
  font-size: 40px;
}

body {
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}